{% comment %}
    Renders shipping bar
    Accepts:
    - class {String} Additional classes
    Usage:
    {%- render 'shipping-bar', class: 'additional_classes' -%}
{% endcomment %}

{%- liquid
  assign free_shipping_threshold = settings.shipping_notification_threshold | times: 100
  assign shipping_progress_pct = cart.total_price | times: 100.0 | divided_by: free_shipping_threshold

  if shipping_progress_pct < 0
    assign shipping_progress_pct = 0
  elsif shipping_progress_pct > 100
    assign shipping_progress_pct = 100
  endif
-%}



{%- style -%}
  {%- if cart == empty -%}
    .shipping-bar {
      visibility: hidden;
    }
  {%- endif -%}
{%- endstyle -%}

{%- if settings.enable_shipping_notification and free_shipping_threshold > 0 -%}
  <shipping-bar
    data-cart-total="{{ cart.total_price }}"
    data-shipping-threshold="{{ free_shipping_threshold }}"
    data-progress="calc({{ shipping_progress_pct }}% + 2px)"
    class="shipping-bar progress-bar {{ class }}"
  >
    <div class="progress-bar__top">
      {%- render 'icon', icon_name: 'theme-package-check' -%}
      <p class="progress-bar__text"></p>
    </div>
    <div class="progress-bar__progress">
      <span data-progress-line class="progress-bar__progress-inner" style="width: 0%"></span>
    </div>
  </shipping-bar>
{%- endif -%}
