{{- 'customer.css' | asset_url | stylesheet_tag -}}

<script src="{{- 'form-validate.js' | asset_url -}}" defer></script>

<section class="color-scheme-1 gradient">
  <div class="account">
    <div class="container max-w-narrow">
      <div class="account__col account__col--center">
        <div class="form-customer form-customer--activate">
          <div class="form-customer__head">
            <h1 class="h2 form-customer__title">
              {{- 'customer.activate_account.title' | t -}}
            </h1>
          </div>

          <div class="form-customer__body">
            <form-validate>
              {%- form 'activate_customer_password' -%}
                {%- if form.errors -%}
                  <div class="color-red">
                    {{- form.errors | default_errors -}}
                  </div>
                {%- endif -%}

                <div class="form-row">
                  {%- liquid
                    assign pwd_label = 'theme.form.password' | t
                    assign pwd_placeholder = 'theme.form.password_placeholder' | t
                    assign pwd_error = ''
                    assign pwd_has_error = false
                    assign pwd_attr = 'autocomplete="new-password"'
                    if form.errors contains 'password'
                      assign pwd_error = form.errors.translated_fields['password'] | capitalize | append: ' ' | append: form.errors.messages['password']
                      assign pwd_has_error = true
                    endif
                    render 'text-input', id: 'activePassword', label: pwd_label, type: 'password', name: 'customer[password]', placeholder: pwd_placeholder, attr: pwd_attr, message: pwd_error, has_error: pwd_has_error, required: true
                  -%}
                </div>

                <div class="form-row">
                  {%- liquid
                    assign confirm_label = 'customer.activate_account.password_confirm' | t
                    assign confirm_placeholder = 'customer.reset_password.password_confirm_placeholder' | t
                    assign confirm_error = ''
                    assign confirm_has_error = false
                    assign confirm_attr = 'autocomplete="new-password"'
                    if form.errors contains 'password'
                      assign confirm_error = form.errors.translated_fields['password_confirmation'] | capitalize | append: ' ' | append: form.errors.messages['password_confirmation']
                      assign confirm_has_error = true
                    endif
                    render 'text-input', id: 'activePasswordConfirm', label: confirm_label, type: 'password', name: 'customer[password_confirmation]', placeholder: confirm_placeholder, attr: confirm_attr, message: confirm_error, has_error: confirm_has_error, required: true
                  -%}
                </div>

                <div class="form-row">
                  {%- liquid
                    assign submit_val = 'customer.activate_account.submit' | t
                    render 'button', type: 'submit', value: submit_val, style: 'solid', class: 'button'

                    assign cancel_val = 'customer.activate_account.cancel' | t
                    render 'button', type: 'submit', value: cancel_val, name: 'decline', class: 'button button--outlined'
                  -%}
                </div>
              {%- endform -%}
            </form-validate>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
