.address-form__actions {
  text-align: center;
}

.addresses__new {
  margin: 2rem 0 4rem;
}

.addresses__item {
  padding: 4rem 2rem;
}

.addresses__body ul[role="list"] {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: start;
  column-gap: 4rem;
}

.addresses__item + .addresses__item {
  margin-block-start: 0;
}

.addresses__item-actions button + button,
.address-form__actions button + button {
  margin-block-start: 2rem;
}

@media screen and (max-width: 989px) {
  .addresses__body ul[role="list"] {
    display: block;
  }

  .addresses__item + .addresses__item {
    margin-block-start: 6rem;
  }
}
